.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

form {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    color: #2b3469;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    width: auto;
}

.submit-button {
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #2b3469;
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #4452a3;
    color: #f1f1f1;
}

.submit-button:active {
    background-color: #2b3469;
    color: #f1f1f1;
}